@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Lato|Oswald');
$font: Open Sans, Arial;

@mixin noSelect() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

@mixin blur($pixels) {
  -webkit-box-shadow: 0px 0px $pixels 0px rgba(34,34,34,0.5);
  -moz-box-shadow: 0px 0px $pixels 0px rgba(34,34,34,0.5);
  box-shadow: 0px 0px $pixels 0px rgba(34,34,34,0.5);
}

@mixin shadow($width, $opacity) {  
  -webkit-box-shadow: $width $width $width $width rgba(34,34,34,$opacity);
  -moz-box-shadow: $width $width $width $width rgba(34,34,34,$opacity);
  box-shadow: $width $width $width $width rgba(34,34,34,$opacity);
}

@mixin center() {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  margin: auto !important;
}

body {
  font-family: $font;
}

textarea {
  resize: none;
  border: none;
}

#app-container {
  height: 100vh;
}

#user-container {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
}

#user-container img {
  max-width: 180px;
}

.login {
  font-size: 16px;
}

#info-container {
  height: 100%;
}

#list-container {
  width: 100%;
  overflow: auto;
}

.markup-item {
  list-style-type: none;
}

#screen-container {
  height: 85%;
}

#top-container {
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

#button-container {
  padding-right: 20px;
  padding-left: 20px;
}

#title-container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#db-container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

#title-container input {
  width: 100%;
}

#title {
  height: 50px;
  font-size: 30px;
  padding-left: 15px;
}

#description {
  height: 30px;
  padding-left: 15px;
}

button {
  width: 100px;
}

#error-container {
  font-size: 14px;
  color: red;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.text-container {
  height: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.text-input {
  height: 100%;
  width: 100%;
  padding: 25px;
  border: 1px solid #999;
}

#result {
  overflow: auto;
}

.footer {
  @include blur(5px);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'sans-serif';
  background-color: white;
  text-align: center;
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0px;
}

.modal {
  @include center();
  color: whitesmoke;
  display: block !important;
  z-index: 2;
  height: 150px;
  width: 525px;
  background-color: #191919;
  padding: 25px;
  font-family: 'Lato';
  font-size: 10px !important;
  text-align: center;
  border: 1px solid whitesmoke;
  -webkit-box-shadow: 0px 0px 15 0px rgba(245,245,245,0.2);
  -moz-box-shadow: 0px 0px 15px 0px rgba(245,245,245,0.2);
  box-shadow: 0px 0px 15px 0px rgba(245,245,245,0.2);
}
